form{
    width: 50%;
    background-color: red;
    border-radius: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
   margin: 30px auto; 
}
form label{
    font-size: 18px;
    padding: 5px;
} 
form{
    padding: 8px;
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(49, 75, 223); 
    border-radius: 12px;
}
form input,select{
    height: 30px;
    border-radius: 8px;
    outline: 0;
    margin: 12px 0;
}
.errors{
    color:red;
    text-align: center;
    font-size: 18px;
}
.result{
    color:white;
    text-align: center;
    font-size: 18px;
    background-color: green;
    padding: 12px 30px;
    width: fit-content;
}
form>button{
    padding-left: 50px;
    padding: 12px 23px;
    background-color:white;
    color: black;
    border: 0;
    width: fit-content;
    margin: 0 auto;
}
form input:focus{
    outline: 0;
}
form label{
    font-family: monospace;
    margin: 4px 0;
    font-size: 23px;
}
/* .error{
    font-size: 18px;
    background-color: red;
    border-radius: 5px;
    margin: 20px auto;
} */
